<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kettle</key>
	<dict>
		<key>SensitiveUI</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>WritingTools</key>
	<dict>
		<key>Panel_iOS</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>GenerativeModels</key>
	<dict>
		<key>GenerativeModelsAvailability</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SiriUI</key>
	<dict>
		<key>sae</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae_override</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Siri</key>
	<dict>
		<key>medoc_hybrid</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>asr_adopting_uaf</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae_override</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae_locale_override</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>sae</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>uod_asr_on_server_enabled</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>FileARadar</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>medoc</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>force_uod_enabled_for_device</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SpringBoard</key>
	<dict>
		<key>Twoness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SAETappyHomeAffordance</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SettingsApp</key>
	<dict>
		<key>SettingsUndo</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>ModernApplication</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
